essentia==2.1b6.dev778
fire==0.4.0
gdown==4.4.0
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
pytest==7.1.2
pytorch_lightning==1.6.3
PyYAML==6.0
scikit_learn==1.1.1
setuptools==61.2.0
simclr==1.0.2
SoundFile==0.10.3.post1
torch==1.11.0
torchaudio==0.11.0
torchaudio_augmentations==0.2.4
torchmetrics==0.8.2
tqdm==4.64.0
wget==3.2